/* -----------------------------------------------------break 1----------------------------- */
@media screen and (max-width:1000px) {
    nav {
        height: 70px;
    }

    nav .menu a {
        padding: 15px;
    }

    nav .logo h1 {
        font-family: "Montserrat";
        font-weight: 700;
        font-size: 27px;
        cursor: pointer;
    }

    nav .logo img {
        width: 40px;
    }

    nav .icons img {
        margin-right: 10px;
        align-items: center;
        justify-content: space-between;
        padding: 0px 2px;
        cursor: pointer;
    }
    .banner{
        height: calc(100vh - 50px);
    }
 
    .banner .buy .discover {
        width: 400px;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
    }

    .banner .buy {
        width: 450px;
        height: 300px;
        background-color: #FFF3E3;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        margin-right: 40px;
    }

    .banner .buy .discover h1 {
        font-family: "Poppins";
        font-size: 32px;
        font-weight: 700;
        line-height: 45px;
        color: #B88E2F;
    }

    .banner .buy .discover p {
        font-family: "Poppins";
        font-size: 14px;
        font-weight: 00;
        line-height: 18px;
        color: #333333;

    }

    .banner .buy .discover .btn {
        padding: 0.5rem;
        width: 5rem;
        background: #B88E2F;
        color: #FFF;
        font-family: "Poppins";
        font-size: 12px;
        font-weight: 700;
        border: none;
        margin: 1rem 0px;
        cursor: pointer;
    }

    .browse h1 {
        font-family: "Poppins";
        font-size: 25px;
        font-weight: 700;
        line-height: 35px;
        text-align: center;
    }

    #emet {
        font-family: "Poppins";
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0.7px;
        text-align: center;
    }
    .products h1 {
        font-family: "Poppins";
        font-size: 25px;
        font-weight: 700;
        line-height: 52px;
        text-align: center
    }
  
}
/* ----------------------------------------------------------------break 2 ----------------------------------------------- */

@media screen and (max-width:767px) {
    nav {
        height: 50px;
        justify-content: space-between;
        align-items: center;
    }

    nav .menu {
        display: none;
    }

    nav .icons {
        display: none;
    }

    nav .hamburger{
        font-size: 25px;
        display: flex;
        padding-top: 15px;
        margin-right: 20px;

          }

    nav .logo {
        padding-top: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav .logo h1 {
        font-family: "Montserrat";
        font-weight: 700;
        font-size: 25px;
        cursor: pointer;
    }

    nav .logo img {
        width: 29px;
    }

    .banner{
        /* border: 2px solid blue; */
        height: 85vh;
        background-size: 0 0;
    }
    
      .banner .buy .discover {
        padding: 0px 5px;
        width: 300px;
        max-width: 300px;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .banner .buy {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 80vh;
        background-color: #FFF3E3;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .banner .buy .discover h1 {
        margin: 5px 0px;
        font-family: "Poppins";
        font-size: 34px;
        text-align: center;
        font-weight: 700;
        line-height: 30px;
        color: #B88E2F;
    }

    .banner .buy .discover p {
        margin: 5px 0px;
        font-family: "Poppins";
        font-size: 18px;
        font-weight: 00;
        line-height: 25px;
        text-align: center;
        color: #333333;

    }

    .banner .buy .discover .btn {
        padding: 0.8rem;
        width: 6rem;
        border-radius: 5px;
        background: #B88E2F;
        color: #FFF;
        font-family: "Poppins";
        font-size: 12px;
        font-weight: 700;
        border: none;
        margin: 0.8rem 0px;
        cursor: pointer;
    }

    .banner .buy .discover h5 {
        font-family: "Poppins";
        font-size: 18px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: 1px;
        color: #333333;
    }

    .browse {
        width: auto;
        margin: 0px 5%;
        margin-top: 10px;
    }

    .browse h1 {
        font-family: "Poppins";
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        text-align: center;
    }

    .browse p {
        font-family: "Poppins";
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.7px;
        text-align: center;
        margin-bottom: 10px;
    }

    .browse .images {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px;
        padding: 5px;
        cursor: pointer;

    }

    .browse .images .dinnig p {
        font-size: 12px;
    }

    .browse .images .living p {
        font-size: 12px;

    }

    .browse .images .bedroom p {
        font-size: 12px;
    }
    .browse .images .dinnig img {
        margin: 0px;
        padding: 5px;
    }

    .browse .images .living img {
        margin: 0px;
        padding: 5px;

    }

    .browse .images .bedroom img {
        margin: 0px;
        padding: 5px;
    }
    .browse .images p {
        font-family: "Poppins";
        font-size: 16px;
        font-weight: 600;
        line-height: 36px;
        text-align: center;
        word-spacing: 320px;
        cursor: pointer;
    }
    .products{
        margin-top: 10px;
    }
    .products h1 {
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 10px;
        }
  

    .footer {
        border-top: 1px dotted #838383;
        margin: 20px 0px;
    }
    .footer .help{
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer .help .link {
        margin-top: 20px;
    }
    
    .footer .help ul{
        text-align: center;
       

    } 

    .footer .nam {
        margin-top: 20px;
        text-align: center;
        


    }

    .footer .adress {
        padding: 0px 20px;
        text-align: center;
        line-height: 26px;
        
    }

    .products .items .Syltherine {
        width: 50vh;
       
    }
    .products .items .Syltherine img{
        height: 50vh;
    }
    .products .items .Syltherine h2{
        font-size: 15px;
    font-weight: 600;
    line-height: 5px;
    }
    .products .items .Syltherine p{
        line-height: 0px;
        font-size: 12px;
        font-weight: 600;
    }
    .buttondiv .seemore {
        margin: 20px;
        height: 40px;
        width: 120px;
        font-size: 15px;
    }

    ::placeholder {
        font-family: "poppins";
        font-size: 16px;
        font-weight:500;
        text-align: center;
        
    }

    

   

}
/* -------------------------------------------------------------------------break 3--------------------------------------------- */
@media screen and (max-width:425px) {
    .footer {
        margin-top: 15px;
    }

    .footer .nam {
        color: black;
        font-family: "poppins";
        /* font-size: 16px !important; */
        font-weight: 700 !important;
        /* line-height: 18px; */
        padding: 0px 10px;


    }
 


    .footer .adress {
        text-wrap: wrap;
       
    }
    
    .help li {
       
        line-height: 35px;
        padding: 2px 60px;
    
    }
    .footer .help ul li {
       line-height: 30px; 
    }
    .products .items .Syltherine img{
        height: 40vh;
    }

}


@media screen and (max-width:576px) {
    .footer .nam{
        padding: 0px 10px;
    }

    .footer .help ul li {
        line-height: 20px; 
     }
     .products .items .Syltherine img{
        height: 40vh;
    }
    .footer .help .link {
        padding: 15px 0px;
    }
}